@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
.outer-wrap {
    width: 100%;
    height: 100vh;
    // font-family: 'Lato', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("./pictures/sean-mcauliffe-12857.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .top {
        width: 100%;
        height: 18vh;
        // background: burlywood;
    }
    .center {
        width: 100%;
        height: 64vh;
        // background: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .time {
            font-size: 8em;
            font-weight: 700;
            text-align: center;
        }
        .input-line {
            font-size: 2.5em;
            margin: auto;
            text-align: center;
            background: none;
            border: none;
            border-bottom: solid white 1px;
            margin: 5px;
            color: white;
        }
        input, placeholder {
            color: white;
        }
        .input-line:focus {
            outline: none;
        }
        .greeting {
            text-align: center;
        }
    }
    .bottom {
        width: 100%;
        height: 18vh;
        // background: black;
        .quote {
            font-size: 1em;
            text-align: center;
            float: center;
            padding: 20px;
            position: relative;
            top: 10px;
            .quote-text {}
            .quote-author {}
        }
    }
}