.weather-box {
    // @include flexSetUp(center, center);
    width: 80px;
    height: 50px;
    float: right;
    background: black;
    margin: 20px;
    .temp {
        color: white;
        text-align: right;
        font-size: 1.4em;
        font-weight: 700;
    }
    .city {
        color: white;
        text-align: right;
        font-size: .55em;
    }
}