<div class="outer-wrap">
    <div class="top">
        <weather-directive></weather-directive>
    </div>
    <div class="center">
        <p class="time">{{time}}</p>
        <!--What's your name?-->
        <div class="greeting">
            <form class="" ng-submit="addName(userName)" ng-if="!name">
                <input type="text" class="input-line" placeholder="What is your name?" ng-model="userName">
            </form>
            <div class="input-line" ng-if="name">{{period}}{{name}}</div>
        </div>
    </div>
    <div class="bottom">
        <div class="quote">
            <p class="quote-text">{{quote}}</p>
            <p class="quote-author">—{{author}}</p>
        </div>
    </div>
</div>