@mixin flexSetUp($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}